/* Flex styles */
.flex {
  display: flex;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
/* Padding */
.pr-1 {
  padding-right: 1rem;
}
/* Margin */
.mr-1 {
  margin-right: 1rem;
}
/* Text styles */
.text-align-center {
  text-align: center;
}
